/******************************************************************** 
START rules that will come before Bulma's variables 
*********************************************************************/
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300&display=swap');

$family-primary: 'Open Sans', sans-serif;
$family-secondary: 'Open Sans Condensed', sans-serif;

// Setting local color scheme
$white: #fff;
$black: #000;
$grey: #F8F8F8;
$accentOne: #D9B310;
$accentTwo: #CC494E;
$accentThree:#A61C90;
$accentFour:#26DFD4;
$accentFive:#F56127;
$accentFive:#754607;
$dark: #0B3C5D;
$mid: #328CC1;
$light: #328CC1;

// // Bulma menu variables
$menu-label-color: $black;
$menu-item-active-background-color: $accentOne;
$menu-item-active-color: $black;
$menu-item-hover-color: $white;
$menu-item-hover-background-color: $light;

// Bulma navbar variables
$navbar-height: 5rem;
$navbar-background-color: $dark;
$navbar-item-hover-background-color: $mid;


/******************************************************************** 
END rules that will come before Bulma's variables 
*********************************************************************/

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";

@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/elements/form.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/elements/notification.sass";
@import "../node_modules/bulma/sass/elements/table.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/other.sass";

@import "../node_modules/bulma/sass/components/list.sass";
@import "../node_modules/bulma/sass/components/menu.sass";
@import "../node_modules/bulma/sass/components/modal.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";

@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";

/******************************************************************** 
START rules that will come AFTER Bulma's variables 
*********************************************************************/

// My utility classes
.my-display-none {
    display: none;
}

.my-padding-top-medium {
    padding-top: 4rem;
}

.my-padding-top-small {
    padding-top: 2rem;
}

.my-padding-left-xsmall {
    padding-left: 1rem;
}

.my-min-height {
    min-height: 90vh;
}

.my-max-height {
    max-height: 80vh;
}

// Screen reader function focuses on Sections but shouldn't show border
.my-invisible-outline {
    outline: none;
}

.my-basic-shadow {
    -webkit-box-shadow: 10px 9px 14px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 9px 14px -8px rgba(0,0,0,0.75);
    box-shadow: 10px 9px 14px -8px rgba(0,0,0,0.75);
}
    
// Notification styles
.notification {
    background-color: $light;
}

// Responsive styles
@include touch {
    .my-menu-width-touch {
        width: 30%;
    }
    .my-main-margin-touch {
        margin-left: 30%
    }

    .my-padding-top-touch {
        padding-top: 6rem;
    }
}

@include desktop {
    .my-main-margin-desktop {
        margin-left: 18%;
    }

    .my-menu-width-desktop {
        width: 18%;
    }
}

// Certificate Styles
.cert-body {
    background-color: #fffaf7;
    position: relative;
    width: 70vw;
    height: 50vw;
    border: thick double black;
    text-align: center;
}

.signature-position {
    position: absolute;
    display: block;
    width: 40%;
    right: 2%; 
    top: 80%;
}

.name-line-position {
    position: absolute;
    display: block;
    width: 60%;
    right: 20%; 
    top: 58%;
}

.cert-my-style {
    position: absolute;
    display: block;
    right: 33%;
    top: 2%;
    transform: translateX(-50%);
    width: 12vw;
    height: 12vw;
}

.abs-content {
    position: absolute;
    display: block;
}

@media print {
    #printBtn {
        display: none;
    }
}